@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --color-bg: #050506;
  --color-panel: rgba(10, 15, 25, 0.8);
  --color-cyan: #00ffff;
  --color-text: #9efcff;
  --color-h1: #9efcff;
  --color-glow: rgba(0, 255, 255, 0.3);
  --borde-neon: 0 0 8px var(--color-cyan), inset 0 0 12px rgba(0,255,255,0.2);
  --fuente: 'Orbitron', sans-serif;
}